@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --CyanMain: #50a6b2;
  --CyanMain2: #4ac7d5;
  --PinkMain: #f193a6;
  --PurpleMain: #907da4;
  --PinkLow: #f7c1cf;
  --BrownMain: #cc907e;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.shadow_image {
  filter: drop-shadow(15px 10px 15px rgba(0, 0, 0, 0.5));
}

.mask-image {
  mask-image: linear-gradient(black 80%, transparent);
}

.bgCardenas {
  background-image: url("./assets/bienvenida.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

/* SOCIAL NETWORKS */
/* From Uiverse.io by ubaidi10 */
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  gap: 20px;
}

@media (max-width: 1024px) {
  .card {
      flex-direction: row;
      align-items: center;
      justify-content: center;

    }
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 25px;
  background-color: var(--PurpleMain);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  -webkit-box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, 0.75);
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

/* twitter*/
.containerTwo:hover {
  background-color: #1800ee;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #25d366;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card:has(.socialContainer:hover) .socialContainer:not(:hover) {
  opacity: 0.1;
}

/* BUTTON SERVICE */
/* From Uiverse.io by MuhammadHasann */
.btn-service {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: auto;
  padding: 12px 20px;
  background: var(--PurpleMain);
  font-size: 17px;
  font-weight: 700;
  color: #ffff;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--PurpleMain));
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--PurpleMain));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--PurpleMain));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--PurpleMain));
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--PurpleMain));
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--PurpleMain));
  z-index: -5;
  transition: all 0.8s ease;
}

.btn-service:hover {
  background: var(--PurpleMain);
  color: #fff;
  box-shadow: 0 0 25px var(--PinkLow);
}

.btn-service:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--PurpleMain));
  z-index: 2;
}

.btn-service:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--PurpleMain));
  z-index: 2;
}

.btn-service:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--PurpleMain));
  z-index: 8;
}

.btn-service:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--PurpleMain));
  z-index: 2;
}

.btn-service:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--PurpleMain));
  z-index: 2;
}

.btn-service:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--PurpleMain));
  z-index: 2;
}

.fil0 {
  fill: var(--PurpleMain);
}

/* REASONS DOCTOR SECTION */
.bg-reasons {
  position: relative;
  background-color: #efefec;
  min-height: 100vh;
}

.mission-container {
  position: relative;
  width: 50%;
  background-color: var(--PurpleMain);
  /* o usa tu color Tailwind aproximado */
  color: white;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .mission-container {
    width: 100%;
  }
}

.mission-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/mision.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  /* Controla la visibilidad del fondo */
  z-index: 0;
}

.vision-container {
  position: relative;
  width: 50%;
  background-color: #00bcd4;
  /* CyanMain */
  color: white;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .vision-container {
    width: 100%;
  }
}

.vision-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/vision.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  width: 66.666667%;
  /* equivalente a w-2/3 */
  margin: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (max-width: 600px) {
  .content {
      width: 90%;
    }
}

/* CONTACT SECTION */
.bg-contact {
  background-image: url("./assets/contacto.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  clip-path: ellipse(80% 100% at 50% 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #907da4;
  opacity: 0.5;
  z-index: 10;
}
